        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
                 
    <div class="planet">
<div class="popup_screech_wins">  </div>
<div class="popup_urkel_wins">  </div>


	<div class="group1">
		<div class="cell" id="cell1_1" onclick="playBox()">1</div>
		<div id="cell1_2" onclick="playBox()">2</div>
		<div id="cell1_3" onclick="playBox()">3</div>
	</div>	

	<div class="group2">
		<div class="cell" id="cell1_4" onclick="playBox()"></div>
		<div id="cell1_5" onclick="playBox()"></div>
		<div id="cell1_6" onclick="playBox()"></div>
	</div>	

	<div class="group3">
		<div class="cell" id="cell1_7" onclick="playBox()"></div>
		<div id="cell1_8" onclick="playBox()"></div>
		<div id="cell1_9" onclick="playBox()"></div>
	</div>	
</div>

<!-- <div class="popup">
    
</div>  -->
            
        